@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

* {
  scroll-behavior: smooth;
}

.aboutbg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1046%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(247%2c 164%2c 62%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c496.47C113.412%2c494.51%2c241.188%2c584.716%2c332.718%2c517.72C425.465%2c449.833%2c370.442%2c295.53%2c417.678%2c190.747C464.551%2c86.77%2c613.574%2c26.722%2c605.342%2c-87.035C597.218%2c-199.301%2c454.767%2c-245.131%2c380.043%2c-329.309C306.5%2c-412.156%2c272.069%2c-535.571%2c169.667%2c-577.832C64.937%2c-621.053%2c-52.392%2c-580.168%2c-162.429%2c-553.183C-277.192%2c-525.039%2c-421.061%2c-518.979%2c-482.328%2c-417.939C-544.588%2c-315.261%2c-446.824%2c-185.405%2c-457.935%2c-65.841C-468.199%2c44.608%2c-565.791%2c139.741%2c-544.264%2c248.557C-521.345%2c364.409%2c-447.664%2c480.393%2c-340.191%2c529.347C-234.372%2c577.548%2c-116.263%2c498.479%2c0%2c496.47' fill='%23f69d2f'%3e%3c/path%3e%3cpath d='M1920 1898.208C2066.485 1863.636 2174.624 1753.775 2294.633 1662.941 2404.958 1579.437 2513.639 1500.385 2594.212 1387.902 2689.801 1254.456 2805.559 1117.152 2803.157 953.021 2800.677 783.547 2702.5119999999997 625.4549999999999 2581.322 506.962 2465.124 393.35 2300.185 361.674 2145.96 310.44899999999996 1985.828 257.26199999999994 1826.28 162.74300000000005 1662.092 201.64499999999998 1495.645 241.082 1378.83 384.85699999999997 1271.108 517.732 1166.228 647.101 1045.9740000000002 788.637 1051.269 955.095 1056.4360000000001 1117.514 1238.589 1212.805 1298.031 1364.0439999999999 1362.729 1528.655 1277.2269999999999 1756.156 1411.404 1871.391 1542.856 1984.286 1751.356 1938.009 1920 1898.208' fill='%23f8ab4d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1046'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.contactbg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1354%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1355%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1920 0L1332.54 0L1920 251.04z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1332.54 0L1920 251.04L1920 495.77L1261.45 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1261.4499999999998 0L1920 495.77L1920 567.65L577.1499999999999 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M577.1500000000001 0L1920 567.65L1920 598.03L166.5900000000001 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L72.71 1080L0 731.95z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 731.95L72.71 1080L1031.41 1080L0 435.33000000000004z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 435.3299999999999L1031.41 1080L1042.6200000000001 1080L0 299.7099999999999z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 299.7099999999999L1042.6200000000001 1080L1590.7000000000003 1080L0 168.61999999999992z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1354'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1355'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.counterbg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='720' preserveAspectRatio='none' viewBox='0 0 1920 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1066%26quot%3b)' fill='none'%3e%3crect width='1920' height='720' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c320 C 384%2c284.6 1536%2c178.4 1920%2c143L1920 720L0 720z' fill='rgba(249%2c 249%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c686 C 192%2c623.8 576%2c401.4 960%2c375 C 1344%2c348.6 1728%2c518.2 1920%2c554L1920 720L0 720z' fill='rgba(236%2c 236%2c 236%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1066'%3e%3crect width='1920' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.relative {
  position: relative; /* Establishes a positioning context for absolute positioning */
}

.relative video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(20%);
}

.flag {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10; /* Ensures the image overlay is above the video */
  width: 100%; /* Ensures the image spans the full width of the container */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7a43e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f7a43e;
}
